body {
  background: linear-gradient(rgba(62, 232, 28, 0.7),rgba(0, 128, 0, 0.5), rgba(216, 237, 109, 0.3)); /*,url("./assets/2102.i518.009_sky_cloud_evening_illustration.jpg")*/
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}