body {
  background: linear-gradient(rgba(232, 28, 28, 0.7), rgba(247, 206, 2, 0.5)); /*,url("./assets/2102.i518.009_sky_cloud_evening_illustration.jpg")*/
  /* backdrop-filter: blur(2px); */
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
}