.SlidingWindow {
    padding: 2rem;
    color: white;
    background:
        linear-gradient(0deg,
            #012623,
            #014034);

    width: 100%;
    height: 100%;
    /* font-family: "Jersey 15", sans-serif; */
}

#sliding_board{
    height: 80%;
}